@using Foodies.ViewModels.Components
@model FoodCardViewModel


<div class="food-card" >

    <div class="food-card-fav">
        @{
            if (@Model?.Customer?.FavouriteRestaurants != null && @Model?.Customer?.FavouriteRestaurants.Count > 0)
            {

                foreach (var r in @Model.Customer.FavouriteRestaurants)
                {
                    if (r.Id == Model.Id)
                    {
                                        <i class="bi bi-heart-fill" id = "fav-@Model.Id" onclick="addToFavourites(@Model.Id)"></i>
                        break;
                    }
                    else
                    {
                                        <i class="bi bi-heart" id = "fav-@Model.Id" onclick="addToFavourites(@Model.Id)"></i>
                        break;
                    }
                }
            }
            else
            {
                     <i class="bi bi-heart" id = "fav-@Model.Id" onclick="addToFavourites(@Model.Id)"></i>
            }
        }
    </div>

    @* <img class="food-card-img" src="@Model.ImageUrl" alt="food image" 
    onclick="window.location.href='@Model.Url'"/> *@

           <p  class="food-card-text-title" 
           onclick="window.location.href='@Model.Url'">@Model.Title</p>




</div>

<script>
    function addToFavourites(resId) {
        var button = document.getElementById("fav-" + resId);

        if (button.classList.contains("bi-heart")) {
            button.classList.remove("bi-heart");
            console.log("hello");
            button.classList.add("bi-heart-fill");

            $.ajax({
                url: '/menu/addToFav', 
                type: 'post', 
                data: { resId: resId },
                success: function(response) {
                    alert('added to fav');
                },
                error: function(err) {
                    console.error('Error adding to fav', err);
                }
            });
        }
        else {
            button.classList.remove("bi-heart-fill");
            button.classList.add("bi-heart");
            $.ajax({
                url: '/menu/removeFav', 
                type: 'post', 
                data: { resId: resId },
                success: function(response) {
                    alert('rem from fav');
                },
                error: function(err) {
                    console.error('Error rem  fav', err);
                }
            });
        }


    }
</script>
<style>
    /*food category card*/
    .faIcon {
        font-size: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
        color: var(--white);


    }

    /* menuitem card */

    .food-card {
        width: 350px;
        height: 300px;
        padding: .8em;
        background: var(--white);
        position: relative;
        overflow: visible;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        border-radius: 15px;
        transition: .3s ease;
        cursor: pointer;
        margin-top: 10px;
        margin-right: 30px;
    }

    .food-card-img {
        background-color: #ffcaa6;
        width: 70%;
        height: auto;
        border-radius: 17px;
        display: block; /* Ensures that the image behaves as a block-level element */
        margin-left: auto;
        margin-right: auto;
        margin-top:-40px;
         z-index: 1; 
    }



    /*icon facourite*/
    .food-card-fav {

        /* margin: -1em 20px; */
        /* margin-right:40px; */
        display: flex;
        /* align-items: right; */
        justify-content: flex-end;
        padding: 0rem 1rem;
        padding-top:0.1rem;
        text-align: right;
        border:none;

    }
    .bi-heart, .bi-heart-fill{
        font-size: 1.9rem;
        z-index: 2;
        border-raduis: 14px;

    }
    .bi-heart{
        color:  var(--black);
    }
    .bi-heart-fill{
       color:  red;
    }
    .bi-heart:hover , .bi-heart-fill:hover{
    transform: scale(1.05); /* Slightly scale up the box */

    color: rgba(255, 100, 50, 0.9); /* Red shade on hover (with 30% opacity) */

}    
    /*Text*/
.food-card-text-title {
    font-weight: 700;
    font-size: 1.2em;
    color: var(--black);
    text-align: center;
   margin-top: 5px;

}





   /*  .food-card-footer {
        display: flex;
        align-items: center;

        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 10px 0;
    }
 */
    /* .food-card-footer-text {
        font-weight: 400;
        font-size: 1em;
        color: var(--black);
        margin: 0 10px;
    }
 */


    /*Hover*/
    .food-card:hover {
        transform: translateY(-1%);
        box-shadow: var(--teirtary-color) 0px 13px 47px -5px, var(--secondary-color) 0px 8px 16px -8px;
    }
</style>
